@import "tailwindcss";

body {
  @apply bg-zinc-100 text-zinc-900 relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  /* Darker dots */
  background-image: radial-gradient(#9ca3af 1.5px, transparent 1.5px);
  background-size: 24px 24px;
  /* Apply blur to the background dots */
  filter: blur(1px);
  opacity: 0.6;
}
